

.mod-menu-social {
	text-align: center;
	
	.menu {
		margin: 0;
		.table-center;
	}
	
	.menu li {
		float: left;
	}
	
	.item {
		font-size: 2em;
	}
	
	.item:hover {
		background-color: transparent;
	}
	
	.item span {
		display: none;
	}
}



